<div class="container">
<h3 class="text-center"><a href="/get-allThreats" class="btn btn-primary">Check All threats Reported</a></h3>
  <table class="table table-bordered">
    <tr>
      <th>Threat Report By</th>    
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Message</th>
      <th>Help User</th>    
    </tr>
    {{# each items }}
    <tr>
      <td id="uname">{{ this.username}}</td>    
      <td id="lat">{{ this.location.lat}}</td>
      <td id="lng">{{ this.location.lng}}</td>
      <td id="msg">{{ this.location.message}}</td>
      <td><h3 class="text-center"><button onclick="sendRequest()">Navigate</button></h3></td>
    </tr>
    {{/each}}
  </table>
</div>
