
<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4">
          <h2>24X7 Online Assistance</h2>    
          <div class="panel panel-default">
            <div class="panel-body">
              <form method="post" class="form" action="/users/login">
                <div class="form-group"><label>Start Chat</label><input class="form-control" type="text" name="txtPlaces" placeholder="Enter a location"></div> 
                  <h1>Welcome <i>{{items}}!!</i></h1>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>