<div class="container">
<h3 class="text-center"><button onclick="graphView();" class="btn btn-primary">No Of Crime vs City</button></h3>
<canvas id="myChart" style="position: relative; height:50vh; width:80vw"></canvas>
</div>
