<html>
<head>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js"></script>
    <script src="/js/scripts.js"></script>
</head>
    
    
    
      
           
      <table class="table table-bordered">
    <tr>
      <th>Sr.No</th>
         
         
    </tr>
    {{# each items}}
    <tr>
      
      <td id="uname">lsdlflkf</td>
    </tr>
    {{/each}}
  </table>
    
    
</html>

